{% extends 'base.html.twig' %}
{% block title %}People{% endblock %}
{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800">People LDAP Test {{ person.dn }} </h1>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">aa</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <table class="table">
                                <tbody>
                                {% for name, attributes in person.attributes %}
                                    {% for attr in attributes %}
                                <tr>
                                    <th> {{ name }} </th>
                                    <td> {{ attr }}</td>
                                </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Netgroups</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 table-netgroup-scroll">
                                <table class="table">
                                    <tbody>
                                    {% for netgroup in netgroups %}
                                        <tr>
                                            <th>Netgroup</th>
                                            <td>
                                                <a href="{{ path('netgroup_show', {'name': netgroup.name}) }}">{{ netgroup.name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Host access via netgroup</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 table-netgroup-scroll">
                                <table class="table">
                                    <tbody>
                                    {% for netgroup, host_list in hosts %}
                                        {% for host in host_list %}
                                        <tr>
                                            <th>{{ netgroup }}</th>
                                            <td>
                                                <a href="{{ path('host_show', {'name': host.name}) }}">{{ host.name }}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
