{% set route = app.request.get('_route') %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('homepage') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        {# <img src="{{ asset('/favicon.png') }}" class="img-fluid">  #}
            {# <i class="fas fa-hat-cowboy-side"></i> #}
        </div>
        <div class="sidebar-brand-text mx-3">LdapView</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ route == 'homepage' ? 'active' }}">
        <a class="nav-link" href="{{ path('homepage') }}">
            <i class="fas fa-fw fa-info"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        LDAP
    </div>
    <li class="nav-item {{ route in ['people_index', 'people_show'] ? 'active'}}">
        <a class="nav-link" href="{{ path('people_index') }}">
            <i class="fas fa-fw fa-user"></i>
            <span>People</span></a>
    </li>
    <li class="nav-item {{ route in ['netgroup_index', 'netgroup_show'] ? 'active'}}">
        <a class="nav-link" href="{{ path('netgroup_index') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Netgroups</span></a>
    </li>
    <li class="nav-item {{ route in ['sudo_index', 'sudo_show'] ? 'active'}}">
        <a class="nav-link" href="{{ path('sudo_index') }}">
            <i class="fas fa-fw fa-user-lock"></i>
            <span>Sudo Groups</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
        Other
    </div>
    <li class="nav-item {{ route in ['host_index', 'host_show'] ? 'active'}}">
        <a class="nav-link" href="{{ path('host_index') }}">
            <i class="fas fa-fw fa-server"></i>
            <span>Hosts</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
