{% set route = app.request.get('_route') %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('homepage') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        {# <img src="{{ asset('/favicon.png') }}" class="img-fluid">  #}
            {# <i class="fas fa-hat-cowboy-side"></i> #}
        </div>
        <div class="sidebar-brand-text mx-3">LdapView<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ route == 'homepage' ? 'active' }}">
        <a class="nav-link" href="{{ path('homepage') }}">
            <i class="fas fa-fw fa-info"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        LDAP
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{ route in ['people_index', 'people_new'] ? 'active' }}">
        <a class="nav-link {{ route not in ['people_index', 'people_new'] ? 'collapsed' }}" href="#"
           data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fa fa-fw fa-user"></i>
            <span>People</span>
        </a>
        <div id="collapseTwo" class="collapse {{ route in ['people_index', 'people_new'] ? 'show' }}"
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Actions:</h6>
                <a class="collapse-item {{ route == 'people_index' ? 'active' }}"
                   href="{{ path('people_index') }}">List</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item  {{ route in ['netgroup_index', 'netgroup_new'] ? 'active' }}">
        <a class="nav-link  {{ route not in ['netgroup_index', 'netgroup_new'] ? 'collapsed' }}" href="#"
           data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-users"></i>
            <span>Netgroups</span>
        </a>
        <div id="collapseUtilities" class="collapse {{ route in ['netgroup_index', 'netgroup_new'] ? 'show' }}"
             aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Actions:</h6>
                <a class="collapse-item {{ route == 'netgroup_index' ? 'active' }}" href="{{ path('netgroup_index') }}">List</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
        Other
    </div>

    <li class="nav-item {{ route in ['host_index', 'host_show'] ? 'active'}}">
        <a class="nav-link" href="{{ path('host_index') }}">
            <i class="fas fa-fw fa-server"></i>
            <span>Hosts</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
